.inv-item{
    width:100px;
    height:100px;
    margin:5px;
    user-select: none;
    overflow-wrap: break-word;
    list-style-type: none;
}
.item-button{
    position: relative;
    border-radius:10px;
    height:100px;
    width:100px;
    border-radius: 10px;

    overflow-wrap: break-word;
    opacity:1;
}